.main{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
.graphBorder{
    border: 2px solid #2c3e50;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
}
.bodyText{
  color: #000;
  font-size: 13px;
  margin: 10px 0;
} 

.dropdown{
  background-color: #748
  ;color: #999;
  padding: 10px;
  border: 2px;
}

.boldText{
  color: #000;
  font-size: 13px;
  font-weight: bold;
}

.head1{
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.head2{
  color: #000;
  font-size: 16;
  text-decoration: underline;
}