
.box{
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
}

.graphBorder {
  border: 1px solid hsl(0, 0%, 100%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.evaluation-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: lightcyan;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.model-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.model-header {
  width: 100%;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

.model-split-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.graph-container {
  width: 48%;
  text-align: center;
}

.graph-container img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.rmse-value {
  font-size: 0.9em;
  color: #333;
  margin-top: 5px;
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 5px;
  text-align: center;
}

