
.box{
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
}

.graphBorder {
  border: 1px solid hsl(0, 0%, 100%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.evaluation-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: lightcyan;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.model-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.model-container h5 {
  width: 100%;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

.model-container p {
  font-size: 0.9em;
  color: #333;
  margin: 0;
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 5px;
  text-align: center;
}